@model Reebok.Web.ViewModels.RegisterViewModel
<h2>New User Registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Email" for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year" for="Year" class="form-label">Year</label>
        <input asp-for="Year" class="form-control" placeholder="2000">
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <label asp-for="Password" for="Year" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="********">
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm" for="Year" class="form-label">PasswordConfirm</label>
        <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="********">
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" class="btn btn-dark" value="Registration" />
    </div>
</form>